{:paths ["src"]
 ;;We serialize datasets to transit-json
 :deps {com.cognitect/transit-cljs {:mvn/version "0.8.269"}
        techascent/tech.ml.dataset {:mvn/version "6.029"}
        tick/tick {:mvn/version "0.4.24-alpha"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}}
 :aliases
 {:dev
  {:extra-deps {metosin/muuntaja {:mvn/version "0.6.8"}}}
  :cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.12.4"}
                cider/cider-nrepl {:mvn/version "0.26.0"}
                cljs-ajax/cljs-ajax {:mvn/version "0.8.3"}}
   ;;resources has logback.xml which disables the annoying jboss logging
   :extra-paths ["test" "resources"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  ;;run with clj -X:depstar
  :depstar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
   :ns-default hf.depstar
   :exec-fn hf.depstar/jar
   :exec-args {:group-id "com.cnuernber"
               :artifact-id "tmdjs"
               :version "1.000-beta-22"
               :sync-pom true
               :jar "target/tmdjs.jar"}}
  ;;deploy to clojars
  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? true
               :artifact "target/tmdjs.jar"}}

  :install
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :local
               :artifact "target/tmdjs.jar"}}

  ;;used for installing base package.json
  ;;clj -M:cljs-install -m cljs.main --install-deps
  :cljs-install
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.12.4"}}}

  ;;Writes docs into docs/index.html
  ;;clj -X:cljs-docs
  :codox
  {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                com.cnuernber/codox {:mvn/version "1.000"}
                thheller/shadow-cljs {:mvn/version "2.12.4"}
                cider/cider-nrepl {:mvn/version "0.26.0"}
                cljs-ajax/cljs-ajax {:mvn/version "0.8.3"}}
   :extra-paths ["test" "resources"]
   :exec-fn codox.main/-main
   :exec-args {:arg-paths [[:aliases :depstar :exec-args]]
               :description "Dataframe processing for ClojureScript"
               :metadata {:doc/format :markdown}
               :themes [:rdash]
               :language :clojurescript
               :source-paths ["src"]
               :output-path "docs"
               :source-uri "https://github.com/cnuernber/tmdjs/blob/master/{filepath}#L{line}"
               :namespaces [tech.v3.dataset
                            tech.v3.libs.cljs-ajax
                            tech.v3.datatype
                            tech.v3.datatype.functional
                            tech.v3.datatype.argops]}}}}
